<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

## Data Science Tools and Ecosystem

In this notebook,Data Science Tools and Ecosystem are Summarized.

### Objectives

. List popular Language for Data Scientist.

. List of commonly used libraries for Data Scientist.

. List of Data Science Tools.

. Some Arithmetic Expression

Some of the Popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the Commonly used Libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Sci-py
4. Matplotlib
5. JuiladB
6. Seaborn
7. Scikit-learn
8. Pytorch

Data Science Tools :
1. MySQL
2. MongoDB
3. Apache CouchDB
4. KubeFlow
5. SparkSQL
6. Bitbucket

### Below are few examples of evaluating arithmetic expression in Python

In [1]:
(3*4)+5
# This is a Simple arithmetic expression to multiply and add integers

17

In [3]:
minutes = 200
min_in_hr = minutes/60
min_in_hr
# This wiil convert 200 minutes to hours by dividing by 60.

3.3333333333333335

### Author

Lakshmi Holla

Niveditha Pandith

Name

Amit Rai